name: CI

# Enable Buildkit and let compose use it to speed up image building
env:
  DOCKER_BUILDKIT: 1
  COMPOSE_DOCKER_CLI_BUILD: 1

on:
  pull_request:
    branches: ['main', 'deploy']

  push:
    branches: ['main', 'deploy']

concurrency:
  group: ${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

jobs:
  linter:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code Repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.12'

      - name: Run pre-commit
        uses: pre-commit/action@v3.0.1

  angular_tests:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./frontend

    steps:
    - uses: actions/checkout@v2
    - name: Install modules
      run: yarn
    - name: Run ESLint
      run: yarn run eslint . --ext .js,.jsx,.ts,.tsx
    - name: Run tests
      run: npm run test

  django_tests:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./backend

    steps:
      - name: Checkout Code Repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Run Django Tests
        run: python manage.py test
  
  e2e_tests:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./

    steps:
      - name: Checkout Code Repository
        uses: actions/checkout@v4

      - name: Install dependencies
        run: npm i
        working-directory: ./e2e

      - name: lint e2e tests
        run: npm run lint
        working-directory: ./e2e

      - name: format check
        run: npm run format:check
        working-directory: ./e2e

      - name: run the application
        run: docker compose up -d

      - name: run the e2e tests 
        run: docker compose -f e2e/docker-compose.e2e.yml run --rm e2e

      - name: stop the application
        run: docker compose down

      - name: upload the test results
        uses: actions/upload-artifact@v4
        with:
          name: e2e-test-results
          path: e2e/results